/*html {
    font-size: 62.5%;
}*/

html,
body,
#root {
  width: 100%;
  height: 100vh;
  background-color: #0d354e;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  font-family: "Segoe UI Regular", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  scrollbar-color: white #0d354e;
  scrollbar-width: thin;
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./public/fonts/SegoeUI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./public/fonts/SegoeUIItalic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./public/fonts/SegoeUIBold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./public/fonts/SegoeUIBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI Semi Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./public/fonts/SegoeUISemiBold.woff") format("woff");
}

@font-face {
  font-family: "Selawik";
  src: url("./public/fonts/Selawik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selawik Regular Bold";
  src: url("./public/fonts/Selawik-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selawik Light";
  src: url("./public/fonts/Selawik-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selawik Bold";
  src: url("./public/fonts/Selawik-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selawik Semilight";
  src: url("./public/fonts/Selawik-Semilight.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selawik Semibold";
  src: url("./public/fonts/Selawik-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
